.menu-grid-container {
  padding: 10px;
}
.menu-box {
  width: 10%;
  background-color: #ffff;
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60px;
  border-radius: 10px;
  margin: 2%;
}

ion-icon {
  font-size: 20px;
}

.menu-grid-item-icon {
  color: '#1C6EEB';
}
