.profile-card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0px;
  padding: 20px 10px 10px 0px;
}

.profile-user {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 0px;
}

.profile-card-text {
  text-align: left;
  line-height: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.p-image {
  background-color: darkblue;
  max-width: 100px;
  max-height: 100px;
}

.p-name {
  font-weight: 600;
  padding: 0;
  font-weight: bold;
  font-size: larger;
}

.p-location {
  text-align: left;
}
