.register-page {
  background-color: rebeccapurple;
  background: linear-gradient(146.69deg, #0066ff -3.38%, #5196ff 100%);
  width: 100%;
  height: max-content;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.input-box {
  border-radius: 5px;
  margin-bottom: 5px;
}

.logo {
  width: 50px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #ffff;
}

.register-title {
  color: '#FFFFFF';
  font-weight: 600;
  font-size: 30px;
}

.register-button {
  background-color: #0f60da;
  background-color: #1e2528;
}

.register-anchor {
  color: #ffffff;
  font-weight: 600;
}

.register-bottom-text {
  text-align: center;
  width: 100%;
}
